*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("fundobanco.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    background: rgba(255, 255, 255, 0.98);
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.35);

    padding: 5px 5px 0px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.tituloLogin{
    color: #1f3c88;
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

section{
    width: 90%;
    max-width: 530px;
    padding: 30px;
}

#msg{
 margin-bottom: 20px;
}

input{
    width: 80%;
    height: 38px;
    border-radius: 12px;
    border: 1px solid black;
    padding: 0px 12px;
    transition: 0.3s;
}

input:focus{
    outline: none;
    border-color:#1f3c88;
    box-sizing: 0px 0px 5px rgba(31,60,136,0.4);
}

.botoes{
  width: 80%;
  display: flex;
  gap:10px;
  margin-top: 8px;
}

button{
    flex:1;
    height: 38px;
    border-radius: 10px;
    background-color: #1f3c88;
    color: white;
    border: none;
    cursor: pointer;
}

.esqueceuSenha{
    text-decoration: none;
    color: #1f3c88;
    font-style: bold;
}

.esqueceuSenha:hover{
    color: #000;
}

button:hover{
    color:rgb(154,122,122);
}

.img{
    width: 180px;
    margin-top: 15px;
    border-radius: 20px;
}

footer{
  margin-top: 12px;
  font-style: italic;
}

@media (max-width: 768px) {
    section{
        flex-direction: column;
        align-items: center;
    }

    .img{
        width: 150px;
        margin-left: 20px;
    }
}

@media (max-width: 1024px) {
    section{
        flex-direction: column;
        align-items: center;
    }

    .img{
        width: 150px;
        margin-left: 20px;
    }
}